vscode/

# Node
node_modules/
.wwebjs_cache/
.wwebjs_auth/

# Python 
*.pyc
*.pcd
__pycache__/

# Enviroment 
.env
.venv
env/
venv/
ENV/

# Ignore generated docs
*.dox
*.wikidoc

src/influxdb/
src/connect-plugins/

src/tmp
src/server/tmp
src/simulator/tmp
src/subscriber/tmp

src/server/server
src/simulator/simulator
src/subscriber/subscriber
go.work.sum
*/go.sum


src/server/erl_crash.dump
src/simulator/erl_crash.dump