version: '3'

# ATENÇÃO ATENÇÃO ATENÇÃO ATENÇÃO
# -------------------------------------------------------------------------
# PARA RODAR OS TESTES, NÃO RODE ESSE COMPOSE POR SI (com "docker-compose up")
# RODE O SCRIPT "run_tests.sh" NA RAIZ DO PROJETO
# -------------------------------------------------------------------------

services:

  rabbitmq:
    container_name: rabbitmq
    build: ./rabbitMQ
    ports:
      - "15672:15672"
    command: ["rabbitmq-server"]
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 2s
      timeout: 2s
      retries: 20
    restart: always

  influxdb:
    image: influxdb:2.7.5-alpine
    container_name: influxdb
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: admin123
      DOCKER_INFLUXDB_INIT_ORG: iot
      DOCKER_INFLUXDB_INIT_BUCKET: test
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: admin
    ports:
    - "8086:8086"
    healthcheck:
      test: "curl -f http://localhost:8086/ping"
      interval: 2s
      timeout: 2s
      retries: 20

  server:
    container_name: server
    build: ./server
    volumes:
      - ./server:/app
    ports:
    - 8080:8080
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f air || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 10
    depends_on:
      rabbitmq:
        condition: service_healthy
      influxdb:
        condition: service_healthy

  simulator:
    container_name: simulator
    build: ./simulator
    volumes:
      - ./simulator:/app
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f air || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 10
    depends_on:
      rabbitmq:
        condition: service_healthy
      influxdb:
        condition: service_healthy


  tests:
    container_name: tests
    build: ./tests
    depends_on:
      rabbitmq:
        condition: service_healthy
      influxdb:
        condition: service_healthy
      server:
        condition: service_healthy
      simulator:
        condition: service_healthy
